#content-menu{
    margin-left: 450px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#movie1{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie2{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie3{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie4{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie5{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie6{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie7{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie8{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie9{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie10{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie11{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie12{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie13{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie14{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie15{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;
    border-radius: 15%;
}
#movie16{
    height: 200px;
    width: 200px;
    border:solid red 2px;
    margin: 20px;
    padding: 20px;;
    border-radius: 15%;
}

.next-page{
    
    background-color: rgb(10, 209, 209);
    margin-left: 50px;
    font-size: 1.2rem;
}
